<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen">
    <div th:replace="~{fragments/chatHeader :: chatHeader}">Include the Chat Header fragment</div>
    <div th:replace="~{fragments/chatContainer :: chatContainer}">Include the Chat Container fragment</div>
    <div th:replace="~{fragments/chatInputSection :: chatInputSection}">Include the Chat Input fragment</div>
</div>
</body>
</html>